/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Section */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin-top: 0;
    font-size: 1.2rem;
}

/* About Section */
#about {
    background-color: #fff;
    padding: 4px 0;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-content img {
    max-width: 5px;
    border-radius: 5%;
}

/* Skills Section */
/* Skills Section */
#skills {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list > li {
    margin-bottom: 30px;
}

.skills-list > li h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skills-list ul {
    list-style-type: disc; /* Use disc bullets */
    padding-left: 20px; /* Adjust as needed for indentation */
}

.skills-list ul li {
    margin-bottom: 8px;
    font-size: 1.2rem;
}


/* Projects Section */
#projects {
    padding: 40px 0;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    margin-top: 0;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Resume Section */
#resume {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

#resume a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#resume a:hover {
    text-decoration: underline;
}

/* Contact Section */
#contact {
    padding: 40px 0;
    text-align: center;
}

#contact p {
    font-size: 1.2rem;
}

/* Footer Section */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

